@font-face {
	font-family: 'Cicle Gordita';
	src: url(../../assets/fonts/CicleGordita.woff2) format('woff2'),
	url(../../assets/fonts/CicleGordita.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}