@font-face {
	font-family: 'Dyno';
	src: url(../../assets/fonts/DynoRegular.woff2) format('woff2'),
	url(../../assets/fonts/DynoRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dyno';
	src: url(../../assets/fonts/DynoItalic.woff2) format('woff2'),
	url(../../assets/fonts/DynoItalic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Dyno';
	src: url(../../assets/fonts/DynoBold.woff2) format('woff2'),
	url(../../assets/fonts/DynoBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Dyno';
	src: url(../../assets/fonts/DynoBoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/DynoBoldItalic.woff) format('woff');
	font-weight: bold;
	font-style: italic;
}